build/CMakeFiles/
build/cmake_install.cmake
build/CMakeCache.txt
build/performance_records/
build/compile_logs
build/Makefile
build/engine


build/.cache
build/.cmake
build/compile_commands.json


**/.*  
!.gitignore

versions/
resources/

.ccls-cache/
.cache/

doc/proposal/shellProposal.aux  
doc/proposal/shellProposal.dvi  
doc/proposal/shellProposal.log
doc/proposal/shellProposal.tex  
doc/proposal/texput.log

opportunity.txt
code_review.txt
VERY_IMPORTANT.txt
