build/CMakeFiles/
build/cmake_install.cmake
build/CMakeCache.txt
build/performance_records/
build/compile_logs
build/Makefile

versions/
resources/

.ccls-cache/

opportunity.txt
code_review.txt
VERY_IMPORTANT.txt
